.faq-title {
  padding-top: 60px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.faq-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 1400px;
}

.faq-item {
  background-color: #F9F9FA;
  border-radius: 24px;
  padding: 16px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.faq-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-item.active {
  background-color: #F9F9FA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.faq-question {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s ease, max-height 0.8s ease;
  overflow: hidden;
}

.faq-item.active .faq-answer {
  opacity: 1;
  max-height: 500px; /* Define uma altura máxima razoável para a resposta expandir */
}

.faq-icon {
  width: 16px;
  transition: transform 0.8s;
  align-self: center;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

/* Responsividade para tablets */
@media (max-width: 768px) {
  .faq-title {
    font-size: 32px;
    padding-top: 40px;
    margin-bottom: 30px;
  }

  .faq-container {
    padding: 15px;
  }

  .faq-list {
    gap: 20px;
    max-width: 100%;
  }

  .faq-question {
    font-size: 20px;
  }

  .faq-answer {
    font-size: 14px;
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
  .faq-title {
    font-size: 28px;
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .faq-container {
    padding: 10px;
  }

  .faq-list {
    gap: 15px;
    max-width: 100%;
  }

  .faq-item {
    padding: 12px 16px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 14px;
    margin-top: 12px;
  }

  .faq-icon {
    width: 14px;
  }
}