.title-section {
  background: 
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
    url(https://bfbaby.com.br/up/inicio.png);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.main-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  color: white;
}

.sub-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  color: white;
}

.sub-sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: white;
}

.cta-button {
  width: 303px;
  height: 56px;
  margin-top: 20px;
  background-color: #4E61F6;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 12px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button:hover {
  background-color: #3745AF;
}

.cta-button:active {
  background-color: #2B3587;
}

/* ----- RESPONSIVIDADE ----- */

/* TABLETS */
@media (min-width: 600px) {
  .title-section {
    background-position: center;
    background-size: cover;
  }

  .main-title {
    font-size: 56px;
  }

  .sub-title {
    font-size: 28px;
  }

  .cta-button {
    font-size: 18px;
    height: 55px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .title-section {
    background-position: center;
    background-size: cover;
  }

  .main-title {
    font-size: 64px;
  }

  .sub-title {
    font-size: 32px;
  }

  .cta-button {
    width: 373px;
    height: 59px;
  }
}

/* MOBILE */
@media (max-width: 599px) {
  .title-section {
    background-position: center;
    background-size: cover;
  }

  .main-title {
    font-size: 36px;
  }

  .sub-title {
    font-size: 20px;
  }

  .cta-button {
    width: 90%;
    height: 45px;
    font-size: 16px;
  }
}