.simple-section {
    margin-top: 100px;
    display: flex;
    padding-left: 200px;
    align-items: center;
    height: 390px;
    text-align: left;
    background-size: cover;
    background-position: center;
}

.content {
    max-width: 900px;
}

.texto-desconto {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 70%;
}

.button {
    background-color: #4E61F6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    width: 207px;
    height: 59px;
    font-weight: 700;
    margin-top: 20px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.button:hover {
    background-color: #3745AF;
}

.button:active {
    background-color: #2B3587;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .simple-section {
      text-align: center; /* Centraliza o texto */
      padding: 40px 20px; /* Adiciona um pouco de espaçamento interno */
    }
  
    .texto-desconto {
      font-size: 28px; /* Reduz o tamanho da fonte */
      width: 100%; /* Ajusta para ocupar toda a largura */
      margin-bottom: 20px; /* Ajusta o espaço abaixo do texto */
      color: #333; /* Cor de texto mais escura para melhor contraste */
    }
  
    .button {
      width: 80%; /* Ajusta a largura do botão */
      margin: 0 auto; /* Centraliza o botão */
      padding: 15px 20px; /* Aumenta o padding para um botão mais "cheio" */
      border-radius: 25px; /* Bordas mais arredondadas */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    }
  
    .button:hover {
      background-color: #3745AF;
    }
  
    .button:active {
      background-color: #2B3587;
    }
  }
  
  /* Responsividade para dispositivos móveis */
  @media (max-width: 480px) {
    .simple-section {
      text-align: center; /* Centraliza o texto */
      padding: 30px 15px; /* Adiciona um pouco de espaçamento interno */
    }
  
    .texto-desconto {
      font-size: 24px; /* Reduz o tamanho da fonte para telas menores */
      width: 100%; /* Ajusta para ocupar toda a largura */
      margin-bottom: 15px; /* Ajusta o espaço abaixo do texto */
      color: #333; /* Cor de texto mais escura para melhor contraste */
    }
  
    .button {
      width: 100%; /* O botão ocupa toda a largura */
      padding: 15px; /* Mantém o padding ajustado */
      border-radius: 20px; /* Bordas ainda mais arredondadas */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }
  
    .button:hover {
      background-color: #3745AF;
    }
  
    .button:active {
      background-color: #2B3587;
    }
  }