.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EDEFFE;
    text-align: center;
}

.login-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.login-input {
    padding: 15px;
    font-size: 18px;
    border-radius: 80px;
    border: 1px solid #CCC;
    transition: border-color 0.3s;
}

.login-button {
    padding: 15px 30px;
    background-color: #4E61F6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 80px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #4758E0;
}

.login-button:active {
    background-color: transparent;
    border: 1px solid #7181F8;
    color: #7181F8;
}