.admin-layout {
    display: flex;
    margin-top: 70px;
}

.admin-content {
    flex: 1;
    margin-left: 225px; /* Isso garante que o conteúdo seja empurrado para a direita */
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
