.footer {
    margin-top: 80px;
    background-color: #FAFBFF;
    padding: 40px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 150px;
    height: auto;
    margin-right: 20px; /* Espaço entre o logo e o conteúdo seguinte */
}

.footer-links ul {
    display: flex;
    gap: 30px; /* Espaçamento entre os links */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    font-size: 18px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.footer-description {
    max-width: 600px;
    text-align: left;
    margin-left: 20px; /* Espaço entre os links e a descrição */
}

.footer-description p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Coloca os itens em coluna para telas menores */
        align-items: center;
        text-align: center;
    }

    .footer-logo img {
        margin-bottom: 20px; /* Espaço inferior para separar logo do resto */
    }

    .footer-links ul {
        flex-direction: column; /* Deixa os links em coluna em vez de linha */
        gap: 15px; /* Reduz o espaçamento entre os links */
    }

    .footer-description {
        margin-left: 0; /* Remove a margem esquerda para centralizar o texto */
        margin-top: 20px; /* Espaço entre os links e a descrição */
    }
}

@media (max-width: 480px) {
    .footer-content {
        padding: 20px;
    }

    .footer-logo img {
        width: 120px; /* Reduz o tamanho do logo em telas muito pequenas */
    }

    .footer-links ul li {
        font-size: 16px; /* Ajusta o tamanho da fonte dos links */
    }

    .footer-description p {
        font-size: 14px; /* Diminui o tamanho do texto da descrição */
    }
}