.faq-section {
    margin: 100px 0 0 225px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-left: 5px solid #4758E0;
}

.section-title {
    font-size: 1.5rem;
    color: #4758E0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4758E0;
}

.faq-item {
    margin-bottom: 15px;
    font-weight: 700;
}

.faq-input{
    margin-top: 15px;
}

.faq-input,
.faq-textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 24px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.faq-textarea {
    height: 120px;
    resize: vertical;
}
