.create-blog-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-left: 5px solid #4758E0;
}

.create-blog-title {
    font-size: 1.5rem;
    color: #4758E0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4758E0;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #3F51B5;
    box-shadow: 0 0 8px rgba(63, 81, 181, 0.2);
    outline: none;
}

.blog-quill-editor {
    width: 100%;

    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.button-group {
    text-align: right;
}

.create-button {
    padding: 10px 20px;
    background-color: #4E61F6; 
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.create-button:hover {
    background-color: #3745AF;
    transform: translateY(-3px);
}

.create-button:active{
    background-color: #2B3587;
}